@page
@inject IHttpContextAccessor HttpContextAccessor
@model Referendum.Pages.Management.ReferendumT.IndexModel
@{
    ViewData["Title"] = "Հանրաքվեի նախաձեռնություններ";
}


@if (HttpContextAccessor.HttpContext.Session.GetString("user") == "login")
{
    <form method="post" id="form">
          <input type="hidden" asp-for="@Model.CurrentPage" value="@Model.CurrentPage" />
        <div class="card margin-top-20">
            @* ----- START Toolbar ---- *@
            <div class="card-header" style="padding:5px">
                <a href="/Management/ReferendumT/Create" class="btn btn-success" title="Ավելացնել">  <i class="nav-icon icon-plus"></i> Ավելացնել</a>
                 <div class="card-header-actions" style="margin-right:5px;">
                <a class=" btn btn-secondary text-white" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true">
                      <i class="nav-icon icon-magnifier"></i>
                </a>
            </div>
            </div>
            @* ----- END Toolbar ---- *@

             @* ----- START Search ---- *@

        <div class="collapse" id="collapseSearch">
            <div class="card-body row searchCard" style="padding-bottom:0">
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <input class="form-control clearable" type="text" asp-for="Input.Question" placeholder="հանրաքվեի հարցը">
                    </div>
                </div>
                
                <div class="col-lg-2">
                    <div class="input-group mb-3">
                        <div>
                          <input class="form-control clearable" type="date" asp-for="Input.StartDate" placeholder="from">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group mb-3">
                        <div>
                            <input class="form-control clearable" type="date" asp-for="Input.EndDate" placeholder="to">
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="input-group mb-3">
                        <select style="width:200px"  class="one-select" asp-for="SelectedCommunityId">
                            <option value="">-- ընտրել համայնք --</option>
                            @foreach (var item in Model.CommunityList)
                            {
                                <option value="@item.Id">@item.CommunityName</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedCommunityId" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-lg-3 search-btn-block" style="min-width:205px;text-align:right;">
                      <a class="btn btn-primary text-white" onclick="Search()"><i class="nav-icon icon-magnifier"></i> Որոնել</a>
                    <a class="btn btn-danger text-white" onclick="Clear()">  <i class="nav-icon icon-refresh"></i> Մաքրել</a>
                  
                </div>
            </div>
        </div>
            @* ----- END Search ---- *@



            @* ----- START Grid ---- *@
            <div class="grid card-body p-0">
                <table class="table table-responsive-sm table-striped">
                    <thead>
                        <tr style="text-align:center;color:black">
                            <td><b>Ակտիվ</b></td>
                            <td><b>Հանրաքվեի հարցը</b></td>
                            <td><b>Ստորագրահավաքի սկիզբ</b></td>
                            <td><b>Ստորագրահավաքի ավարտ</b></td>
                            <td><b>Միացած․ քանակ</b></td>
                            <td><b>Համայնք</b></td>
                            <td class="commands"><b>Հրամաններ</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InputList)
                        {
                            <tr style="text-align:center;color:black">
                                <td>
                                    @if (item.IsActive == true)
                                    {

                                        <img onclick="EnableDisable(@item.Id)" src="~/images/enable.png" title="Ապաակտիվացնել" />

                                    }
                                    else
                                    {
                                        <img onclick="EnableDisable(@item.Id)" src="~/images/disable.png" title="Ակտիվացնել" />
                                    }
                                </td>
                                <td style="max-width:500px">@item.Question</td>
                                <td>@CommonFunctions.GetDateString(item.StartDate)</td>
                                <td>@CommonFunctions.GetDateString(item.EndDate)</td>
                                <td>@item.ConnectionCount</td>
                                <td>@item.CommunityName</td>

                                <td style="min-width:200px" class="commands">
                                <a class="btn btn-success text-white" href="@Url.Action("DownloadCitizenList", "File", new { referendumId = item.Id})" title="Ներբեռնել">
                                    <i class="nav-icon icon-arrow-down"></i>
                                </a>
                                    <a class="btn btn-info text-white" href="/Management/ReferendumT/Update/@item.Id" title="Թարմացնել">
                                        <i class="nav-icon icon-pencil"></i>
                                    </a>

                                    <a class="btn btn-danger" href="/Management/ReferendumT/Delete/@item.Id" title="Հեռացնել">
                                        <i class="nav-icon icon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @* ----- END Grid ---- *@
    </form>


     @* ----- Start Pagination ---- *@
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="margin-left: 30px;">
            <li class="page-item @(!Model.ShowFirst? "disabled":"")">
                <a asp-page="/Management/ReferendumT/Index" asp-route-CurrentPage="1" class="page-link"><i class="nav-icon icon-control-start"></i></a>
            </li>

            @if ((Model.CurrentPage) == 1)
            {
                <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                    <a asp-page="/Management/ReferendumT/Index" asp-route-CurrentPage="@(Model.CurrentPage)" class="page-link">@(Model.CurrentPage)</a>
                </li>

                <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                    <a asp-page="/Management/ReferendumT/Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link">@(Model.CurrentPage + 1)</a>
                </li>
            }
            else
            {
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                        <a asp-page="/Management/ReferendumT/Index" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link">@(Model.CurrentPage-1)</a>
                    </li>
                    <li class="page-item @(!Model.ShowPrevious? "disabled":"disabled")">
                        <a asp-page="/Management/ReferendumT/Index" asp-route-CurrentPage="@(Model.CurrentPage)" class="page-link">@(Model.CurrentPage)</a>
                    </li>
                    <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                        <a asp-page="/Management/ReferendumT/Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link">@(Model.CurrentPage + 1)</a>
                    </li>
                }
                else
                {
                    <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                        <a asp-page="/Management/ReferendumT/Index" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link">@(Model.CurrentPage-1)</a>
                    </li>
                    <li class="page-item @(!Model.ShowPrevious? "disabled":"disabled")">
                        <a asp-page="/Management/ReferendumT/Index" asp-route-CurrentPage="@(Model.CurrentPage)" class="page-link">@(Model.CurrentPage)</a>
                    </li>
                }

            }

            <li class="page-item  @(!Model.ShowLast? "disabled":"")">
                <a asp-page="/Management/ReferendumT/Index" asp-route-CurrentPage="@Model.TotalPages" class="page-link">  <i class="nav-icon icon-control-end"></i></a>
            </li>
        </ul>
    </nav>
    @* ----- End Pagination ---- *@
}


else
{
     <div class="alert alert-danger m-3" role="alert">
        <h5>Այս տվյալներին հասանելիություն չունեք։</h5>
    </div>
}




@section Scripts {

    <partial name="_CommonFunctions" />


    <script>
        $(document).ready(function () {
            $(".one-select").select2({
              @*  placeholder: " -- ընտրել --", //placeholder*@
                tags: true,
                tokenSeparators: ['/', ',', ';', " "]
            });
        });

        function EnableDisable(id) {

            // Post data to Controller
            $.ajax({
                type: "post",
                url: "/Home/PostResult",
                contentType: 'application/json',
                data: JSON.stringify(id),
                success: function () {
                    alert("Փոփոխությունը հաջողությամբ կատարվեց։");
                    location.reload();
                },
                error: function () {
                    alert("Error!");
                },
            });
        }
    </script>
}

