@page
@model Referendum.Pages.IndexModel
@{
    ViewData["Title"] = "ԿԸՀ-առցանց ստորագրահավաք";
}



<form method="post" id="form">

    <input type="hidden" asp-for="@Model.Citizen.Opaque" value="@Model.Citizen.Opaque" />
    <input type="hidden" asp-for="@Model.Citizen.First_name" value="@Model.Citizen.First_name" />
    <input type="hidden" asp-for="@Model.Citizen.Last_name" value="@Model.Citizen.Last_name" />
    <input type="hidden" asp-for="@Model.Citizen.Ssn" value="@Model.Citizen.Ssn" />
    <input type="hidden" asp-for="@Model.Citizen.Time" value="@Model.Citizen.Time" />

    <input type="hidden" asp-for="@Model.Show" value="@Model.Show" />
    <input type="hidden" asp-for="@Model.Connect" value="@Model.Connect" />
    <input type="hidden" asp-for="@Model.ReferendumId" value="@Model.ReferendumId" />
    <input type="hidden" asp-for="@Model.Result.Status" value="@Model.Result.Status" />
    <input type="hidden" asp-for="@Model.Result.Data" value="@Model.Result.Data" />
    <input type="hidden" asp-for="@Model.Result.Message" value="@Model.Result.Message" />
    <input type="hidden" asp-for="@Model.OpaqueUniqueID" value="@Model.OpaqueUniqueID" />

    @if (!Model.Connect)
    {

        <div style="text-align:center" class="card">
            <div class="card-body row">
                <div class="mt-0 mb-3 mx-3 w-100">

                    @if (Model.Errors.Count > 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            <ul class="m-0">
                                @foreach (var error in Model.Errors)
                                {
                                    <li>@error.Code: @error.Description</li>
                                }
                            </ul>
                        </div>
                    }


                    @if (!Model.Show)
                    {
                        <div class="card card-input">
                            <div class="row">
                                <div class="col-10 ">
                                    <div class="card-body p-0 d-flex align-items-center">
                                        <i class="nav-icon icon-login bg-success p-4 px-5 font-2xl mr-3 text-white"></i>
                                        <div>
                                            <div class="text-value-sm text-info">Մուտք</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="float:right" class="col-2">
                                    <a target="_blank" href="https://www.ekeng.am/hy/eid_auth">
                                        <i style="float:right" class="nav-icon icon-info bg-blue p-4 px-5 font-2xl  text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>



                        <div class="row margin-top-20">
                            <div class="col-12 mt-2">
                                <img src="~/images/id.jpg">
                            </div>
                            <div class="col-12 mt-2">
                                <h5><label class="text-success">Առցանց ստորագրահավաքներին միանալու համար անհրաժեշտ է</label></h5>
                            </div>
                            <div class="col-12 mt-2">
                               <h5><label class="text-success"> մուտք գործել համակարգ նույնականացման քարտով։</label></h5> 
                            </div>
                            <div class="col-12 mt-2">
                                <a class="btn btn-info text-white" onclick="EnterApp('@Model.OpaqueUniqueID')"><i class="nav-icon icon-credit-card text-white"></i>  Մուտք համակարգ</a>
                            </div>
                        </div>



                    }
                    else
                    {
                        <div class="card card-input">
                            <div class="row">
                                <div class="col-10 ">
                                    <div class="card-body p-0 d-flex align-items-center text-center">
                                        <i class="nav-icon icon-user-following bg-success p-4 px-5 font-2xl mr-3 text-white"></i>
                                        <div style="text-align:left">
                                            <h5  class="text-muted">ՀԾՀ՝<b> @Model.Citizen.Ssn </b></h5>
                                            <h5 class="text-muted">Ազգանուն,Անուն՝ <b> @Model.Citizen.First_name  @Model.Citizen.Last_name</b></h5>
                                        </div>
                                    </div>
                                </div>
                                <div style="float:right" class="col-2">
                                    <a href="/Index">
                                        <i style="float:right" class="nav-icon icon-logout bg-blue p-4 px-5 font-2xl  text-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>


                        @foreach (var item in Model.ReferendumList)
                        {
                            if (item.IsActive == true)
                            {
                                <div class="row margin-top-20">
                                    <div class="col-12">
                                        <div class="alert alert-secondary border" role="alert">
                                            <h4 class="text-info">Ցանկանու՞մ եք միանալ</h4>
                                            <br />
                                            <p class="text-value-sm text-muted font-weight-normal">@item.Question</p>
                                            <br />
                                            <a class="btn btn-success text-white" onclick="ConnectRef(@item.Id)"><i class="nav-icon icon-pencil"></i> Միանում եմ</a>
                                            <br />
                                            <br />
                                            @if (item.ConnectionCount > 0)
                                            {
                                                <h4 class="text-value-sm text-muted font-weight-normal">Առցանց ստորագրահավաքին միացել է՝ <b> @item.ConnectionCount քաղաքացի։</b></h4>
                                            }
                                            else
                                            {
                                                <h4 class="text-value-sm text-muted font-weight-normal">Այս պահին առցանց ստորագրահավաքին միացած քաղաքացիներ չկան։</h4>
                                            }
                                            <br />
                                            <h5 class="text-value-sm text-muted font-weight-normal"> <span class="text-danger">*</span> Առցանց ստորագրահավաքը հասանելի է <b> @CommonFunctions.GetDateString(item.StartDate) - @CommonFunctions.GetDateString(item.EndDate)։ </b> </h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div style="text-align:center" class="card">
            <div class="card-body row">
                <div class="mt-0 mb-3 mx-3 w-100">
                    <div class="card card-input">
                        <div class="row">
                            <div class="col-10 ">
                                <div class="card-body p-0 d-flex align-items-center text-center">
                                    <i class="nav-icon icon-user-following bg-success p-4 px-5 font-2xl mr-3 text-white"></i>
                                    <div style="text-align:left">
                                        <h5 class="text-muted">ՀԾՀ՝<b> @Model.Citizen.Ssn </b></h5>
                                        <h5 class="text-muted">Ազգանուն,Անուն՝ <b> @Model.Citizen.First_name  @Model.Citizen.Last_name</b></h5>
                                    </div>
                                </div>
                            </div>
                            <div style="float:right" class="col-2">
                                <a href="/Index">
                                    <i style="float:right" class="nav-icon icon-logout bg-blue p-4 px-5 font-2xl  text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center" class="card margin-top-20">
                        <div class="col-12">
                            <div class="alert alert-light border" role="alert">
                                <h3 class="text-info">ՀԱՅՏԱՐԱՐՈՒԹՅՈՒՆ</h3>
                                <h3 class="text-info">ԱՌՑԱՆՑ ՍՏՈՐԱԳՐՈՒԹՅՈՒՆՆԵՐԻ ՀԱՎԱՔՄԱՆԸ</h3>
                                <h3 class="text-info">ՄԻԱՆԱԼՈՒ ՎԵՐԱԲԵՐՅԱԼ</h3>
                                <br />
                                <h5><span>Ես <b>@Model.Citizen.Last_name @Model.Citizen.First_name</b></span><span><b>Ս</b>, հանրային ծառայության համար՝ <b>@Model.Citizen.Ssn</b></span></h5>
                                <h5>էլեկտրոնայնին կարգով տրված սույն հայտարարությամբ միանում եմ</h5>
                                <h5>@Model.ReferendumModel.Question</h5>
                                <br/>
                                <h5><span>Հայտարարությունը տվեց՝ <b>@Model.Citizen.First_name @Model.Citizen.Last_name</b></span><span><b>Ը</b></span></h5>
                                <h5><span>Հայտարարությունը ամսաթիվը՝ <b>@CommonFunctions.GetDateString(DateTime.Now)</b></span></h5>
                                <br />
                                <br />
                                <a class="btn btn-success text-white" onclick="Connect()"><i class="nav-icon icon-note"></i> Միանում եմ</a>
                                <a class="btn btn-danger text-white" onclick="Cencel()"><i class="nav-icon icon-action-undo text-white"></i> Չեղարկել</a>
                                <a class="btn btn-secondary text-white" onclick="window.print()"><i class="nav-icon icon-printer text-white"></i> Տպել հայտարարությունը</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</form>




@section Scripts {
    <script>

        function ConnectRef(refId) {
            $("#ReferendumId").val(refId);
            $("form").submit();
        }

        function Connect() {
            $("#Connect").val(true);
            $("#Show").val(true);
            $("form").submit();
        }

        function Cencel() {
            $("#Connect").val(false);
            $("#Show").val(false);
            $("form").submit();
        }

        function EnterApp(opaque) {

            var token = "66a53b58-8bd9-3cc3-9afe-89105c4f6b82";

            //Test Value
            // var data = "Dtkn0C9TGORKyCgDJRZUYlvcfaQKWt5kqSebYJ/pDTlrv//qPO0AZWOqDqNxaNPpg8Ugzr7SdZ9yFbVn/8QCwP/zWbM/4leue4OjPPmuPNRKpiA+mNv/yd/ZPP6mwg2DtAZDoQsHJiFxGjaGUI4docTUq/aorZqYD4l1lEV/JqjKqva+3HRqcOXLGYnPmCbyBLD0hvzG445gCGUuOeHHfDnpoG4zpyb6iw+eZwrYTT3dZpK2uNfn3UGESZVi7qPcHa8YI6pGvQPAbnJ1JGuC5QKVd6k7uJP4osaCNko3si9LbYvaCUjTig6v6JVZ2ecOQkpxKnEEfkUp/FjR59oGGfQ1gO/6ZkjgzCw66jjifCkF3kzwo/4Xga+Zl/2pX3ZR";
            // var status="OK";
            // var message = null;

            //alert("Դուք հաջողությամբ մուտք գործեցիք համակարգ:");
            //        $("#Result_Status").val(status);
            //        $("#Result_Data").val(data);
            //        $("#Result_Message").val(message);
            //        $("form").submit();

            $.ajax({
                type: "POST",
                url: "https://eid.ekeng.am/authorize",
                data: {
                    token: token,
                    opaque: opaque
                },
                async: false,
                timeout: 6000,
                dataType: 'json',
                success: function (result) {

                    alert("Դուք հաջողությամբ մուտք գործեցիք համակարգ:");
                    $("#Result_Status").val(result.status);
                    $("#Result_Data").val(result.data);
                    $("#Result_Message").val(result.message);
                    $("form").submit();


                    // Example Post data to Controller
                    //$.ajax({
                    //    type: "post",
                    //    url: "/BprData/BprResult",
                    //    contentType: 'application/json',
                    //    data: JSON.stringify(data1),
                    //});

                },
                error: function (xhr, ajaxOptions, thrownError) { alert("Please insert your eID card into the reader"); }
            });
        }
    </script>
}

